
-- =============================================
-- Author:		Winston Murdock
-- Create date: 03/17/2021
-- Description:	To populate the match table prior to go-live
-- 
-- 1) Empty out the site formulary match table for this site.
-- 2) Pull the medication_id for all medications on the site's formulary.
-- 3) Call the recalculate SP for that medication_id.
-- 4) That's it.

-- Eventually, we'll need to check the drug knowledge vendor
-- and call vendor-specific SPs for recalculate.
-- Right now, we're assuming American FDB.
-- =============================================



CREATE PROCEDURE [dbo].[populate_match_table_by_site]
	@emar_site_id int -- sites.id
AS
BEGIN
	DECLARE @vendor char(1) -- Which vendor is in use.
	DECLARE @bValidVendor bit = 0 -- Is this vendor one we're already setup for?
	DECLARE @med_table table -- All of the medications in the medications table for FDB that also have a match in the site_formulary table.
	(
		id int not null primary key identity(1, 1),
		medication_id int
	)
	DECLARE @current_id int -- The ID of the current row when looping through a table.
	DECLARE @row_count int -- The count of rows in the table.
	DECLARE @one_medication_id int -- The medication id for the current row in @med_table.


	-- This is intended to re-calculate everything from scratch.
	-- So, delete any rows from the match table for this site.
	DELETE FROM site_formulary_match
	WHERE site_id = @emar_site_id

	-- Grab the medication_id for each medication in site_formulary_match for this site.
	INSERT INTO @med_table
	(
		medication_id
	)
	SELECT DISTINCT
		sf.medication_id
	FROM site_formulary sf
	WHERE sf.site_id = @emar_site_id

	-- Loop through the table variable call the recalculate SP for each medication id..
	SELECT @row_count = COUNT(1) FROM @med_table
	WHILE @row_count > 0
	BEGIN
		-- Get the next value for current_id
		SELECT TOP 1 @current_id = id, @one_medication_id = medication_id
		FROM @med_table
		ORDER BY id
		
		-- Call the recalcluate SP.
		-- It pulls a list of all HICL matches
		-- for this medication id, calculates
		-- the match level, and then inserts/updates into the match table.
		EXECUTE [dbo].[recalculate_match_for_med_fdb] 
			'Insert',
			@one_medication_id,
			@emar_site_id

		-- Remove this row from the temp table.
		DELETE FROM @med_table WHERE id = @current_id

		-- Reset fields so that we know values comes from each iteration through this loop.
		SET @current_id = NULL
		SET @one_medication_id = NULL
		
		-- Decrement the counter variable by 1.
		SET @row_count = @row_count - 1
	END; -- end loop through all medications in the formulary for this site.
END; -- end SP