
-- =============================================
-- Author:		Winston Murdock
-- Create date: 03/15-19/2021
-- Description:	To recalculate the values in the site_formulary_match table
--					for a given medication when the formulary is changed within PCED.
-- 1) Get the HICL code for the passed in medication id.
-- 2) Get all medications that match on the HICL code.
-- 3) Get the FDB ids for all medications already on the formulary.
-- 4) For each medications in the hicl matches list, compare their ids to the formulary ids.
-- 5) medid match = 3, GCN match = 2, HICL match = 1, else = 0
-- 6) insert or update match with the new valculations for this medication
-- 
-- Note: This is called by insert/update/delete triggers on the site_formulary table
--			and runs AFTER the site_formulary table has already been changed.
-- 
-- Note 2: We don't need the insert/update/delete value.  But since they are distinct
--			triggers on the table, let's include them so we know who called this.
--			This info may be of use in the future.
-- =============================================
CREATE PROCEDURE [dbo].[recalculate_match_for_med_fdb]
    @operation varchar(20), -- Insert/Update/Delete
	@medication_id int, -- emar medication_id
	@emar_site_id tinyint -- The site's id in emar

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Variable declarations.
	DECLARE @hicl numeric(6, 0) -- the hicl code for this medication (fdb_ndc_info.HICL_SEQNO column).
	DECLARE @gcn numeric(6, 0) -- the gcn number for this medication (fdb_ndc_info.GCN_SEQNO column).
	DECLARE @medid numeric(8, 0) -- the medid for this medication (fdb_ndc_info.medid)
	DECLARE @hicl_matches table -- the list of all medications that are a match to this medication on hicl code.
	(
		id int not null primary key identity(1, 1), 
		hicl numeric(6, 0),
		gcn numeric(6,0),
		medid numeric(8, 0),
		medication_id int,
		inpatient_match tinyint,
		outpatient_match tinyint,
		pyxis_match tinyint,
		sfm_id bigint
	)
	DECLARE @current_id int -- The ID of the current row when looping through hicl matches.
	DECLARE @row_count int -- The count of rows in hicl matches.
	DECLARE @fdb_formulary_matches table -- All of the rows in fdb_ndc_info table that match up to the medications in site_formulary.
	(
		id int not null primary key identity(1, 1), 
		hicl numeric(6, 0),
		gcn numeric(6,0),
		medid numeric(8, 0),
		medication_id int,
		is_inpatient bit,
		is_outpatient bit,
		is_pyxis bit
	)
	DECLARE @one_hicl numeric(6, 0) -- The hicl code for the current row in the hicl matches
	DECLARE @one_gcn numeric(6, 0) -- The gcn number for the current roe in hicl matches
	DECLARE @one_medid numeric(8, 0) -- The FDB drug id for the current row in hicl matches
	DECLARE @one_medication_id int -- The medication id for the current row in hicl matches.
	DECLARE @one_inpatient_match tinyint -- The inpatient match level for the current row in hicl matches.
	DECLARE @one_outpatient_match tinyint -- The outpatient match level for the current row in hicl matches.
	DECLARE @one_pyxis_match tinyint -- The pyxis match level for the current row in hicl matches.
	DECLARE @one_sfm_id bigint -- the id of the row in site_formulary_match for this medication.

	
	-- 1) Grab the ids for this specific medication.
	-- We only need hicl here, but let's grab all
	-- of them just in case we need the others later.
	SELECT
		@hicl = fni.HICL_SEQNO,
		@gcn = fni.GCN_SEQNO,
		@medid = fni.medid
	FROM
		fdb_ndc_info fni
		INNER JOIN medications m on fni.medid_string = m.drug_id
	WHERE
		m.id = @medication_id
		and fni.base_ndc = fni.ndc

	-- 2) Get the list of medications that match on the hicl code of this medication.
	-- Where base_ndc = ndc only pulls us in one FDB row for a given medication...
	-- Also, we'll left outer join to site_formulary_match.
	-- Any rows that are not in there will get nulls or zeros for the values.
	-- When we do site_id checks later, we'll check for matches and for is null.
	INSERT INTO @hicl_matches
	(
		hicl, gcn, medid, medication_id,
		inpatient_match, outpatient_match, pyxis_match, sfm_id
	)
	SELECT
		fni.HICL_SEQNO, fni.GCN_SEQNO, fni.medid, m.id,
		sfm.inpatient_match, sfm.outpatient_match, sfm.pyxis_match, sfm.id
	FROM
		medications m
		inner join fdb_ndc_info fni on m.drug_id = fni.medid_string
		left outer join site_formulary_match sfm on (m.id = sfm.medication_id AND sfm.site_id = @emar_site_id)
	WHERE
		--(sfm.site_id = @emar_site_id OR sfm.site_id IS NULL)
		fni.HICL_SEQNO = @hicl
		and base_ndc = ndc
		
	-- 3) For each medication in site_formulary,
	-- go get their matching rows in fdb_ndc_info.
	-- As with before, only grab the ones where base_ndc = ndc to avoid duplicates.
	INSERT INTO @fdb_formulary_matches
	(
		hicl, gcn, medid, medication_id,
		is_inpatient, is_outpatient, is_pyxis
	)
	SELECT
		fni.HICL_SEQNO, fni.GCN_SEQNO, fni.medid, sf.medication_id,
		sf.is_inpatient, sf.is_outpatient, sf.is_pyxis
	FROM site_formulary sf
	INNER JOIN medication_details md ON sf.medication_id = md.medication_id AND sf.site_id = @emar_site_id
	INNER JOIN fdb_ndc_info fni on md.drug_id = fni.medid_string
	WHERE fni.base_ndc = fni.ndc


	-- 4) Loop through the list of hicl matches.
	SELECT @row_count = COUNT(1) FROM @hicl_matches
	WHILE @row_count > 0
	BEGIN
		-- 5) Compare each one to the medications on the formulary and re-calculate the match level.

		-- Get the next value for current_id
		SELECT TOP 1 @current_id = id FROM @hicl_matches ORDER BY id
				
		-- Get all the other fields for this row.
		SELECT
			@one_hicl = hicl, @one_gcn = gcn, @one_medid = medid,
			@one_medication_id = medication_id, @one_inpatient_match = inpatient_match,
			@one_outpatient_match = outpatient_match, @one_pyxis_match = pyxis_match,
			@one_sfm_id = sfm_id
		FROM @hicl_matches
		WHERE id = @current_id

		-- Inpatient match calculation.
		IF EXISTS (SELECT 1 FROM @fdb_formulary_matches WHERE medid = @one_medid AND is_inpatient = 1)
		BEGIN
			SET @one_inpatient_match = 3
		END
		ELSE IF EXISTS (SELECT 1 FROM @fdb_formulary_matches WHERE gcn = @one_gcn AND is_inpatient = 1)
		BEGIN
			SET @one_inpatient_match = 2
		END
		ELSE IF EXISTS (SELECT 1 FROM @fdb_formulary_matches WHERE hicl = @one_hicl AND is_inpatient = 1)
		BEGIN
			SET @one_inpatient_match = 1
		END
		ELSE
		BEGIN
			SET @one_inpatient_match = 0
		END;

		-- Outpatient match calculation.
		IF EXISTS (SELECT 1 FROM @fdb_formulary_matches WHERE medid = @one_medid AND is_outpatient = 1)
		BEGIN
			SET @one_outpatient_match = 3
		END
		ELSE IF EXISTS (SELECT 1 FROM @fdb_formulary_matches WHERE gcn = @one_gcn AND is_outpatient = 1)
		BEGIN
			SET @one_outpatient_match = 2
		END
		ELSE IF EXISTS (SELECT 1 FROM @fdb_formulary_matches WHERE hicl = @one_hicl AND is_outpatient = 1)
		BEGIN
			SET @one_outpatient_match = 1
		END
		ELSE
		BEGIN
			SET @one_outpatient_match = 0
		END;

		-- Pyxis match calculation.
		IF EXISTS (SELECT 1 FROM @fdb_formulary_matches WHERE medid = @one_medid AND is_pyxis = 1)
		BEGIN
			SET @one_pyxis_match = 3
		END
		ELSE IF EXISTS (SELECT 1 FROM @fdb_formulary_matches WHERE gcn = @one_gcn AND is_pyxis = 1)
		BEGIN
			SET @one_pyxis_match = 2
		END
		ELSE IF EXISTS (SELECT 1 FROM @fdb_formulary_matches WHERE hicl = @one_hicl AND is_pyxis = 1)
		BEGIN
			SET @one_pyxis_match = 1
		END
		ELSE
		BEGIN
			SET @one_pyxis_match = 0
		END;
		
		-- 6) Insert/Update the match table for this medication.
		-- If the mefication does not exist in the sfm table, then insert it.
		-- If the medication already exist in the sfm table, then update the match levels.
		IF (@one_sfm_id IS NULL OR @one_sfm_id = 0)
		BEGIN
			-- Insert.
			INSERT INTO site_formulary_match (site_id, inpatient_match, outpatient_match, pyxis_match, medication_id)
			VALUES (@emar_site_id, @one_inpatient_match, @one_outpatient_match, @one_pyxis_match, @one_medication_id)
		END
		ELSE
		BEGIN
			-- Update.
			UPDATE site_formulary_match 
			SET 
				inpatient_match = @one_inpatient_match,
				outpatient_match = @one_outpatient_match,
				pyxis_match = @one_pyxis_match
			WHERE id = @one_sfm_id
		END; --insert/update sfm
		
		-- Remove this row from the temp table.
		DELETE FROM @hicl_matches WHERE id = @current_id

		-- Reset fields so that we know values comes from each iteration through this loop.
		SET @current_id = NULL
		SET @one_hicl = NULL
		SET @one_gcn = NULL
		SET @one_medid = NULL
		SET @one_medication_id = NULL
		SET @one_inpatient_match = NULL
		SET @one_outpatient_match = NULL
		SET @one_pyxis_match = NULL
				
		-- Decrement the counter variable by 1.
		SET @row_count = @row_count - 1
	END; -- Loop through hicl_matches.
END; -- end SP
