<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
  <rewrite>
    <rules>
                <clear />
                <rule name="API Proxy" stopProcessing="true">
                    <match url="api/.*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://TXPDC-PWEB04.emerus.com:82/{R:0}" />
                </rule>
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./index.html" />
                </rule>
    </rules>
  </rewrite>
</system.webServer>

<system.web>
	<httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
	<pages validateRequest="false" />
</system.web>

</configuration>