.incorrect-site {
    background-color: #f3b9b9;
    position: fixed;
    font-size: 3rem;
    color: black;
    margin: auto;
    width: 100vw;
    top: 140px;
    height: 70vw;
    z-index: 2500;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }