<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebFolder" value="C:\inetpub\wwwroot\" />
    <add key="IdsScheduledTaskExists" value="true" />
    <add key="IdsScheduledTaskName" value="GoogleUpdateTaskMachineUA" />
    <add key="IISScheduledTaskExists" value="true" />
    <add key="IISScheduledTaskName" value="GoogleUpdateTaskMachineCore" />
    <add key="UiFolderName" value="eMARUI" />
    <add key="ApiFoldername" value="eMARAPI" />
    <add key="UiApplicationPoolName" value="eMARUI" />
    <add key="ApiApplicationPoolName" value="eMARAPI" />
    <add key="UiWebsiteName" value="eMARUI" />
    <add key="ApiWebsiteName" value="eMARApi" />
  </appSettings>
</configuration>