<div class="input-group mb-3">  
  <!--<div class="input-group-prepend">-->
  <div ngbDropdown container="body">
    <button class="btn btn-outline-primary" ngbDropdownToggle>{{selectedSource}}</button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem *ngFor="let source of sources" (click)="changeSource(source)">{{source}}</button>
    </div>
  </div>
  <input 
    type="text" 
    class="form-control"
    id="typeahead-http"
    type="text"
    class="form-control"
    
    [(ngModel)]="model"
    [ngbTypeahead]="search"
    placeholder=""
    (selectItem)="onSelect($event, input)"
    [inputFormatter]="inputFormat" 
    [resultFormatter]="resultFormat" 
    
    #input >
</div>

<!--
    [class.is-invalid]="searchFailed"
    #instance="ngbTypeahead"
-->