/*
div ul {
    font-size: 16px;
    color: #353535;
    width: 40%;
    padding-left: 0;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}

div ul li {
    display: flex;
}
*/

ul {
    margin: 0;
    padding: 0;
    margin-left: 19px;
    font-size: 14px;
    margin-right: 20px;
    list-style-type: none;
}

ul li {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 4px;
}

ul li button {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.5px;
    display: block;
}

ul li button:hover {
    color: #0077AB;
    //color: #6da0b1;
    //color: #090909;
    //text-decoration: underline;
}

button {
    background: none;
    border: none;
    text-align: left;
    outline-color: white;

    .main {
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.5px;
        //display: block;
    }

    .addition {
        opacity: 0.8;
    }
}
