/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";

html {
  position: relative;
  min-height: 100%;
  font-size: $font-size-root;
}

body {
  background: url("/assets/img/background_2.svg");
  background-color: $e-body-background-color !important;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", "Roboto", sans-serif !important;
  font-weight: 300 !important;
  text-rendering: geometricPrecision;
}

.my-popover.popover {
  max-width: 80% !important;
  max-height: 80% !important;
  overflow: visible;
}

.my-popover.popover .arrow {
  display: none;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  height: 2px;
  width: 2px;
  border: 2px solid #d5d5d5;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



/* Allergy/Medication */
.allergy-dot {
  /*height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  background-color: orange;
  margin:  0 0.5em 0 0;*/
  //box-shadow: 0 10px 18px 0 rgba(255, 165, 0, 0.54);

  background: orange;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 0 2px orange;
  margin: 0 0.5em 0 0.2em;

  &:hover {
    background: rgba(255, 165, 0, 0.8);
    box-shadow: 0 3px 12px 0 rgba(255, 165, 0, 0.54);
  }
}

.drug-dot {
  /*height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  background-color: orangered;
  margin:  0 0.5em 0 0;*/
  //box-shadow: 0 10px 18px 0 rgba(255, 69, 0, 0.54);
  
  background: orangered;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 0 2px orangered;
  margin: 0 0.5em 0 0.2em;

  &:hover {
    background: #f3374f;
    box-shadow: 0 3px 12px 0 rgba(255, 165, 0, 0.54);
  }
}

.unresolved.allergy-dot {
  background: #fbfbfb;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  box-shadow: 0 0 0 2px orange;
  margin: 0 0.5em 0 0.2em;
}

.unresolved.drug-dot {
  background: #fbfbfb;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  box-shadow: 0 0 0 2px orangered;
  margin: 0 0.5em 0 0.2em;
}

.placeholder-dot {
  background: #fbfbfb;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 0 2px #fbfbfb;
  margin: 0 0.5em 0 0.2em;
}

.allergy-loader {
  width: 15px;
  height: 15px;
  border: 2px solid orange;
  border-radius: 50%;
  margin: 0 0.2em 0 0;
  animation: rotate 1s infinite linear;
}

.allergy-loader::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background: #fbfbfb;
  border-radius: 50%;
  margin: -30% 0 0 -30%;
}

.drug-loader {
  width: 15px;
  height: 15px;
  border: 2px solid orangered;
  border-radius: 50%;
  margin: 0 0.2em 0 0;
  animation: rotate 1s infinite linear;
}

.drug-loader::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background: #fbfbfb;
  border-radius: 50%;
  margin: -30% 0 0 -30%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Buttons */

.button-primary {
  display: inline-block;
  height: 40px;
  letter-spacing: 0.4px;
  font-size: 16px;
  color: #333;
  background: transparent;
  border-radius: 6px;
  padding: 0 15px;
  line-height: 40px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &:hover {
      text-decoration: none;
  }

  &.button-raised:hover {
  }

  &.button-raised {
      color: #fff !important;
      // background: #F31C38;
      background: $primary-button;
      box-shadow: 0 10px 18px 0 rgba(243, 28, 56, 0.54);
      transition: all 300ms;
      border: none;
  }

  &.button-raised:hover {
      background: $primary-button-hover; // #f3374f;
      box-shadow: 0 3px 12px 0 rgba(243, 28, 56, 0.54);
  }
}

.button-secondary {
  display: inline-block;
  height: 40px;
  letter-spacing: 0.4px;
  font-size: 16px;
  color: #333;
  background: transparent;
  border-radius: 6px;
  padding: 0 15px;
  line-height: 40px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &:hover {
      text-decoration: none;
  }

  &.button-raised:hover {
  }

  &.button-raised {
      color: #fff !important;
      // background: $e-secondary-button-color; // #f08080;
      background: $secondary-button;
      box-shadow: 0 10px 18px 0 rgba(243, 28, 56, 0.54);
      transition: all 300ms;
      border: none;
  }

  &.button-raised:hover {
      background: $secondary-button-hover;// #f08080;
      box-shadow: 0 3px 12px 0 rgba(243, 28, 56, 0.54);
  }
}

.button-primary.button-processing {
  //background-color: var(--color-contrast-low);
  //border-color: var(--color-contrast-medium);
  color: transparent !important;
  position: relative;
}

.button-processing::before {
  border: 2px solid #999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  border-left-color: #000;
  border-radius: 100%;
  animation: spin 0.65s infinite linear;
  content: '';
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ng-bootstrap overwrite*/

@import "~bootstrap/scss/bootstrap";

.pagination {
  @extend .d-flex, .flex-wrap, .justify-content-center
}