
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[emar__site_formulary__u]
   ON [dbo].[site_formulary]
   AFTER UPDATE
AS 
BEGIN
	-- Call the SP to recalculate the match levels
	-- Want to call it for each row.
	-- We'll grab the rows that are different between inserted and deleted
	-- and put them into my table variable.
	-- Then we'll call the recalculate method on each
	-- row in the table variable.


	DECLARE @id int
	DECLARE @site_id int
	DECLARE @medication_id int
	DECLARE @row_count int
	DECLARE @changed_rows TABLE
	(
		id int,
		site_id int,
		medication_id int
	)

	-- Copy the rows that changed (so where one or more columns are different
	-- between inserted and deleted) into my table variable.
	-- If only one one row changed in PCED, then we'll only have one row here.
	-- Winston Murdock, 04/27/2021.  EMAR-948
	INSERT INTO @changed_Rows (id, site_id, medication_id)
	select i.id
         , i.site_id
         , i.medication_id
    from   inserted as i
    inner join deleted as d
           on i.medication_id = d.medication_id
		   and i.site_id = d.site_id
    where  isnull(i.site_id, 0) <> isnull(d.site_id, 0)
		or isnull(i.medication_id, char(1)) <> isnull(d.medication_id, char(1))
		or isnull(i.hospital_drug_code, char(1)) <> isnull(d.hospital_drug_code, char(1))
		or isnull(i.is_inpatient, char(1)) <> isnull(d.is_inpatient, char(1))
		or isnull(i.is_outpatient, char(1)) <> isnull(d.is_outpatient, char(1))
        or isnull(i.is_pyxis, char(1)) <> isnull(d.is_pyxis, char(1))
        or isnull(i.service_code, char(1)) <> isnull(d.service_code, char(1))


	-- Loop through inserted and call the SP for each row.
	SELECT @row_count = COUNT(1) FROM @changed_Rows
	WHILE @row_count > 0
	BEGIN
		-- Get the next value for current_id
		SELECT TOP 1 @id = id FROM @changed_rows ORDER BY id
			
		-- Get all the other fields for this row.
		SELECT
			@site_id = site_id,
			@medication_id = medication_id
		FROM @changed_rows
		WHERE id = @id
		
		-- Call the recalculate SP for this row.
		EXECUTE [dbo].[recalculate_match_for_med_fdb] 
		   'Update'
		  ,@medication_id
		  ,@site_id

		-- Remove this row from the temp table.
		DELETE FROM @changed_rows WHERE id = @id

		-- Reset values so that we know they comes from each iteration through this loop.
		SET @id = NULL
		SET @site_id = NULL
		SET @medication_id = NULL
	
		-- Decrement the counter variable by 1.
		SET @row_count = @row_count - 1	
	END; -- Loop through @changed_rows
END;