<span class="subheader"><span>Administration Status</span></span>
<ul class="real-vertical-list icons">
  <li>
    <img src='../../../assets/icon/order-scheduled.svg'>
    Scheduled
  </li>
  <li> <!-- square, green -->
    <img src='../../../assets/icon/order-given.svg'>
    <span class="text-success">Given</span>
  </li>
  <li> <!-- square, blue -->
    <img src='../../../assets/icon/order-acknowledged-event.svg'>
    <span class="text-primary">Acknowledged</span>
  </li>
  <li> <!-- square, yellow -->
    <img src='../../../assets/icon/order-onhold.svg'>
    <span class="text-warning">On Hold</span>
  </li>
  <li>
    <img src='../../../assets/icon/order-late.svg'>
    <span class="text-danger">Due</span>
  </li>
  <li> <!-- square, gray -->
    <img src='../../../assets/icon/order-missed.svg'>
    <span class="text-secondary">Missed Dose</span>
  </li>
  <li>
    <img src='../../../assets/icon/order-ongoing-event.svg'>
    <span class="text-success">Ongoing</span>
  </li>
</ul>

<span class="subheader"><span>Order Status</span></span>
<ul class="real-vertical-list icons">
  <li>
    <img src='../../../assets/icon/three-dots.svg'>OnGoing (PIT)
  </li>
  <li>
    <img src='../../../assets/icon/horizontal-line.svg'>OnGoing (Non PIT)
  </li>
  <li> <!-- round, red -->
    <img src='../../../assets/icon/order-pending.svg'>
    <span class="text-danger">Pending</span>
  </li>
  <li><!-- round, black -->
    <img src='../../../assets/icon/order-ongoing.svg'>
    Ongoing
  </li>
  <li><!-- round, orange -->
    <img src='../../../assets/icon/order-held.svg'>
    <span class="text-warning">On Hold</span>
  </li>
  <!--
  <li>
    <img src='../../../assets/icon/order-due.svg'>
    <span class="text-danger">Due</span>
  </li>
  -->
  <li>
    <img src='../../../assets/icon/order-pendingdiscontinue.svg'>
    Pending Discontinue
  </li>
  <li>
    <img src='../../../assets/icon/order-discontinued.svg'>
    Discontinued
  </li>
  <li>
    <img src='../../../assets/icon/order-completed.svg'>
    <span class="text-success">Completed</span>
  </li>
  <li> <!-- round, black -->
    <img src='../../../assets/icon/order-cancelled.svg'>
    <span class="text-secondary">Cancelled</span>
  </li>
  <li> <!-- round, black -->
    <img src='../../../assets/icon/order-deleted.svg'>
    <span class="text-secondary">Deleted</span>
  </li>
  <!--
  <li>
    <img src='../../../assets/icon/order-cosigned.svg'>
    Cosign
  </li>
  <li> square, red
    <img src='../../../assets/icon/order-ordered.svg'>
    <span class="text-danger">Ordered</span>
  </li>
<li> square, purple
    <img src='../../../assets/icon/order-repeat.svg'>Repeat
  </li> -->
</ul>

<span class="subheader"><span>Others</span></span>
<ul class="real-vertical-list icons">
  <li>
    <span class="allergy-dot">A</span>Allergy Reactions
  </li>
  <li>
    <span class="drug-dot">M</span>Medication Interactions
  </li>

