<div class="page-content patient-details">
    <header-patient [patient]="selectedPatient()" class="header-patient"></header-patient>

    <div class="page-content-wrapper">
        <div class="orders">
            <div class="orders-new">
                <h3>NEW ORDERS</h3>
                <span class="no-data" style="display:none">No New Orders</span>
                <div>
                    <med-search></med-search>
                </div>
                <div id="orders-cart">
                    <order-cart-list 
                        [items]="cartListOrders()" 
                        [patientId]="patientId"
                    ></order-cart-list>
                </div>
            </div>
            <div class="orders-current">
                <h3>CURRENT ORDERS</h3>
                <ul>
                    <li *ngFor="let ord of currentOrders">
                        <span [ngClass]="{'allergy-dot': ord.allergies?.length, 'placeholder-dot': ord.allergies?.length === 0 || !ord.allergies}"></span>
                        <span [ngClass]="{'drug-dot' : ord.drugs?.length, 'placeholder-dot': ord.drugs?.length === 0 || !ord.drugs}"></span>
                        <span>{{ord.name}} {{ord.route | uppercase}} {{ord.dose}}</span>
                        <span 
                            class="timestamp">{{ord.signedOn | date: "HH:mm"}} on {{ord.signedOn | date: "MM/dd/yy"}}, Ordering physician: <i>{{ord.signedBy}}</i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lists">
            <div class="toggle">
                <span [ngClass]="{'active': qlSelected}" (click)="onSelectTab('list-quick-orders')">Quick List</span>
                <span [ngClass]="{'active': dpSelected}" (click)="onSelectTab('list-dept-preferred-orders')">Dept
                    Preferred List</span>
                <span [ngClass]="{'active': gSelected}" (click)="onSelectTab('list-groups-orders')">Groups</span>
            </div>

            <div class="lists-wrapper">
                <div id="list-quick-orders" [ngClass]="{'hidden': !qlSelected}">
                    <quick-list></quick-list>
                </div>
                <div id="list-dept-preferred-orders" [ngClass]="{'hidden': !dpSelected}">
                    <dept-preferred></dept-preferred>
                </div>
                <div id="list-groups-orders" [ngClass]="{'hidden': !gSelected}">
                    <groups></groups>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<app-modal [title]="modalTitle">
    <order-form></order-form>
</app-modal>
-->

<composer-med-modal></composer-med-modal>
<interaction-modal></interaction-modal>
<app-delete-all-cart-orders-modal></app-delete-all-cart-orders-modal>