<ul class="real-vertical-list icons">
  <li>---- ADMINISTRATION ----</li>
  <li> <!-- square, red -->
    <img src='../../../assets/icon/order-ordered.svg'>
    <span class="text-danger">Ordered</span>
  </li>
  <li> <!-- square, blue -->
    <img src='../../../assets/icon/order-acknowledged-event.svg'>
    <span class="text-primary">Acknowledged</span>
  </li>
  <li> <!-- square, yellow -->
    <img src='../../../assets/icon/order-held.svg'>
    <span class="text-warning">Held</span>
  </li>
  <li>
    <img src='../../../assets/icon/order-missed-dose.svg'>
    <span class="text-danger"> Missed dose</span>
  </li>
  <li> <!-- square, gray -->
    <img src='../../../assets/icon/order-cancelled.svg'>
    <span class="text-secondary">Cancelled</span>
  </li>
  <li>
    <img src='../../../assets/icon/order-cosigned.svg'>
    Cosign
  </li>
  <li> <!-- square, dark gray-->
    <img src='../../../assets/icon/order-discontinued.svg'>
    Discontinue
  </li>
  <li>
    <img src='../../../assets/icon/order-scheduled.svg'>
    Scheduled
  </li>
  <li> <!-- square, green -->
    <img src='../../../assets/icon/order-given.svg'>
    <span class="text-success">Given</span>
  </li>
  <li> <!-- square, purple -->
    <img src='../../../assets/icon/order-repeat.svg'>Repeat
  </li>
  <li>---- ORDER STATUS ----</li>
  <li> <!-- round, red -->
    <img src='../../../assets/icon/order-pending.svg'>
    <span class="text-danger">Pending</span>
  </li>
  <li><!-- round, black -->
    <img src='../../../assets/icon/order-ongoing.svg'>
    Ongoing
  </li>
  <li> <!-- round, blue -->
    <img src='../../../assets/icon/order-acknowledged.svg'>
    <span class="text-primary">Acknowledged</span>
  </li>
  <li><!-- round, orange -->
    <img src='../../../assets/icon/order-onhold.svg'>
    <span class="text-warning">Onhold</span>
  </li>
  <li>
    <img src='../../../assets/icon/order-due.svg'>
    <span class="text-danger">Missed dose</span>
  </li>
  <li>
    <img src='../../../assets/icon/order-discontinue.svg'>
    Pending discontinued
  </li>
  <li>
    <img src='../../../assets/icon/order-completed.svg'>
    <span class="text-success">Completed</span>
  </li>
  <li> <!-- round, black -->
    <img src='../../../assets/icon/order-cancelled.svg'>
    <span class="text-secondary">Cancelled</span>
  </li>
</ul>

