@import "../../variables.scss";

.page-content-wrapper {
    flex-direction: column;
}
.pd-interval, .pd-unit {
    float: left;
    height: 100%;
}
.pd-btn {
    padding: 0.2rem 0.2rem;
}
.pd-relative {
    position: relative;
}
.pd-prn {
    font-size: 1.5rem;
}
.ngb-dp-navigation-chevron {
    border-style: solid;
    border-width: .2em .2em 0 0;
    display: inline-block;
    width: .75em;
    height: .75em;
    margin-left: .25em;
    margin-right: .15em;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.right .ngb-dp-navigation-chevron {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: .15em;
    margin-right: .25em;
}
.pd-stat-col {
    display: block;
}
.pd-center { // works only for td
    text-align: center;
    vertical-align: middle;
}
.pd-null-column {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.05);
    left: -25px;
    width: 25px;
    top: 0;
    bottom:0;
}
.pd-line {
    border: 1px solid #C7C7C7;
    // background-color: lighten($e-orange, 35%);
    // opacity: 50%; opacity will be set for content too - so for now rgb
    background-color: rgb(255, 244, 233, 0.4)
}

.pd-time { /* 5 characters */
    width: 50px;
    text-align: center;
    font-size: 10px;
}
.pd-full {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}
.pd-content {
    padding-top: 0.75rem;
    text-align: center;
}
.pd-sm {
    padding: 0 0.2rem;
}
.table-my-striped tr:nth-of-type(even), .table2 thead {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-my-striped {
    border-bottom: 1px solid #C7C7C7;
}
.table2 th {
    padding: 0.5rem;
    text-align: center;
    border-top: 1px solid #C7C7C7;
}
.pd-header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
}

// .pd-sort {
//     padding-left: 3rem;
//     padding-right: 0.5rem;;
// }

.pd-search {
    display: flex;
    // align-content: flex-start;
    width: 25rem;
    padding-left: 1.2rem;
    // padding-right: 0.5rem;;

    >.icon {
        position: relative;
        margin-top: 0.4rem;
        margin-left: -2rem;
        width: 20px;
        z-index: 99;
    }
}

::-ms-clear {
    display: none;
}

.table-hover tbody tr:hover {
    background-color: #deeff5;
}
.debug th, .debug td {
    border: 1px solid red;
}
table.debug {
    border-collapse: collapse;
}

.pd-btn-admin {
    width: 9rem;
    margin: 0.1rem;
}
::ng-deep .pd-admin-box {
    min-width: 30rem;
    font-size: 1rem;
}
::ng-deep .pd-admin-box .popover-body{
    padding: 0;
}

// ::ng-deep [id^="ngb-typeahead-"]{ 
//     width: 100%!important; 
//     white-space: nowrap!important;
//     overflow: hidden!important;
//     text-overflow: ellipsis!important;
// } 

.pd-grid2 {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
}
.page-content-wrapper {
    position: relative;
    min-height: 10px;
}

.pd-grid thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
/* try to simulate the 2 lines of the med name as heigh:100% does not work */
_:-ms-fullscreen, .ie-special { 
    min-height: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

// patient super search
:host ::ng-deep .dropdown-menu {
    max-height: 200px !important;
    width: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}


// .form-control { 
//     flex: 0 0 300px;
// }

// .search-status {
//     margin-left: 1rem;
// }


.gender {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0.4rem 1rem 0 0;
    cursor: pointer;

    &.gender-female {
        background: url("../../assets/icon/female.svg") no-repeat center center;
        background-size: 100% auto;
    }

    &.gender-male {
        background: url("../../assets/icon/male.svg") no-repeat center center;
        background-size: 100% auto;
    }
    
    &.gender-neuter {
        background: url("../../assets/icon/neuter.svg") no-repeat center center;
        background-size: 100% auto;
    }
}

.search {
    background: url("../../assets/icon/search.svg") no-repeat center center;
    background-size: 100% auto;
}

.patient-timeline {
    position: relative;
    // overflow: hidden;

    & > svg {
        position: absolute;
    }
}

.pd-followup { //  &#x2713; top right overflow
    color: #050505;
    font-weight: bold;
    position: relative;
    left: -7px;
    top: -7px;
    font-size: 16px;
}
