<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="EmarSQlConnection" connectionString="Data Source=ros-57c-dx01.picis.com;Initial Catalog=emar;Integrated Security=False;User ID=emarapiloginemar;Password=PCed12!." providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="RecalculateURL" value="http://localhost:51044/api/medications/RecalculateAllInteractionsReactions/Patient/{patientId}" />
    <add key="RecalculateURL2" value="http://ros-57c-dx01.picis.com:82/api/medications/RecalculateAllInteractionsReactions/Patient/{patientId}" />
  </appSettings>
</configuration>