@import "../../../variables";

.real-vertical-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
.icons li {
    padding: 3px;
}
.icons li img {
    margin-right: 3px;
} 