<div class="page-content patient-details">
    <header-patient [patient]="selectedPatient()"></header-patient>

    <div class="page-content-wrapper">
        <div class="orders">
            <div class="orders-new">
                <h3>NEW ORDERS</h3>
                <span class="no-data" style="display:none">No New Orders</span>
                <div class="order-selector">
                    <!--syncfusion combobox
                    <ejs-combobox id="ddlMedications" dataSource="@Model.MedicationList" allowFiltering="true"
                                  change="onMedicationSelectionChanged">
                        <e-combobox-fields text="FullDescription" value="Id"></e-combobox-fields>
                    </ejs-combobox>  -->
                    <select>
                        <option value=""></option>
                        <option value="1">syncfusion combobox</option>
                    </select>
                </div>
                <div id="cartPartial"></div>
                <button id="signCart" class="button button-raised" style="display:none">Sign</button>
            </div>
            <div class="orders-current">
                <h3>CURRENT ORDERS</h3>
                <p *ngIf="orders.length < 1">No current orders</p>
                <ul *ngIf="orders.length > 0">
                    <li *ngFor="let ord of orders">
                        {{ord.name}} {{ord.route | uppercase}} {{ord.dose}}
                        <span class="timestamp">{{ord.signedOn | date: "HH:mm"}} on {{ord.signedOn | date: "MM/dd/yy"}} by {{ord.signedBy}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lists">
            <div class="toggle">
                <span [ngClass]="{'active': qlSelected}" (click)="onSelectTab('list-quick-orders')">Quick List</span>
                <span [ngClass]="{'active': dpSelected}" (click)="onSelectTab('list-dept-preferred-orders')">Dept Preferred List</span>
                <span [ngClass]="{'active': gSelected}" (click)="onSelectTab('list-groups-orders')">Groups</span>
            </div>

            <div class="lists-wrapper">
                <div id="list-quick-orders" [ngClass]="{'hidden': !qlSelected}">
                    <quick-list></quick-list>
                </div>
                <div id="list-dept-preferred-orders" [ngClass]="{'hidden': !dpSelected}">
                    <dept-preferred></dept-preferred>
                </div>
                <div id="list-groups-orders" [ngClass]="{'hidden': !gSelected}">
                    <groups></groups>
                </div>
            </div>
        </div>
    </div>
</div>
