<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="IbexContext" providerName="System.Data.SqlClient" connectionString="Server=ross-ed4.picis.com;Database=ibex;User Id=PulseCheck;Password=Picis123;" />
    <add name="IbexCharting" providerName="System.Data.SqlClient" connectionString="Server=ross-ed4.picis.com;Database=charting;User Id=PulseCheck;Password=Picis123;" />
    <add name="PulseCheck.Membership" connectionString="server=ross-ed4.picis.com;database=PulseCheck.Membership;trusted_connection=yes;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:appStartup" value="PulseCheck.API.Startup" />
    <add key="PulseCheckURL" value="http://ross-ed4.picis.com" />
    <add key="CORSOrigin" value="*" />
    <add key="MinPasswordLength" value="6" />
    <add key="PasswordNonAlphanumericCount" value="0" />
    <add key="DeviceMasterPasscode" value="YonderRocks!" />
  </appSettings>
  <nlog xdt:Transform="Replace" >
    <targets>
      <target name="logfile" xsi:type="File" fileName="c:\logs\PulseCheck.API.${date:format=yyyy-MM-dd}.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="API" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
    </rules>
  </nlog>
  <system.webServer xdt:Transform="Replace">
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Origin" />
        <add name="Access-Control-Max-Age" value="1728000" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <rewrite>            
      <outboundRules>
          <clear />                

		  <!-- Set the site's web servers below in the pattern -->
          <rule name="AddCrossDomainHeader">
              <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
              <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                  <add input="{HTTP_ORIGIN}" matchType="Pattern" pattern="(http(s)?:\/\/(\.picis\.com))" ignoreCase="true" negate="false" />

              </conditions>
              <action type="Rewrite" value="{C:0}" />
          </rule>           

      </outboundRules>
	</rewrite>
    <!-- <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers> -->

    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="100-999" verbosity="Ignore" />
                </add>
            </traceFailedRequests>
        </tracing>
  </system.webServer> 
  <system.net xdt:Transform="Replace">
    <!--<defaultProxy> 
		<proxy usesystemdefault="false" proxyaddress="https://ross-ed4.picis.com:443/api" bypassonlocal="false" /> 
    </defaultProxy> --> 
    <mailSettings>
      <smtp deliveryMethod="Network" from="PulseCheckNoReply@harriscomputer.com">
        <network host="mailrelay.harriscomputer.com" port="25" enableSsl="false" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
 </configuration>