
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   TRIGGER [dbo].[emar__site_formulary__u]
   ON [dbo].[site_formulary]
   AFTER UPDATE
AS 
BEGIN
	-- Call the SP to recalculate the match levels
	-- Want to call it for each row.
	-- SQL Server doesn't allow that natively.
	-- But we can access the updated rows via the "inserted" keyword.
	-- So we can loop through inserted and make the call for each row.


	DECLARE @id int
	DECLARE @site_id int
	DECLARE @medication_id int
	DECLARE @row_count int
	DECLARE @changed_rows TABLE
	(
		id int,
		site_id int,
		medication_id int
	)

	-- Copy the data from inserted into my table variable
	INSERT INTO @changed_Rows (id, site_id, medication_id)
	SELECT id, site_id, medication_id
	FROM inserted


	-- Loop through inserted and call the SP for each row.
	SELECT @row_count = COUNT(1) FROM @changed_Rows
	WHILE @row_count > 0
	BEGIN
		-- Get the next value for current_id
		SELECT TOP 1 @id = id FROM @changed_rows ORDER BY id
			
		-- Get all the other fields for this row.
		SELECT
			@site_id = site_id,
			@medication_id = medication_id
		FROM @changed_rows
		WHERE id = @id
		
		-- Call the recalculate SP for this row.
		EXECUTE [dbo].[recalculate_match_for_med_fdb] 
		   'Update'
		  ,@medication_id
		  ,@site_id	

		-- Remove this row from the temp table.
		DELETE FROM @changed_rows WHERE id = @id

		-- Reset values so that we know they comes from each iteration through this loop.
		SET @id = NULL
		SET @site_id = NULL
		SET @medication_id = NULL
	
		-- Decrement the counter variable by 1.
		SET @row_count = @row_count - 1	
	END; -- Loop through @changed_rows
END;