<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <connectionStrings xdt:Transform="Replace">
    <!--<add name="IdentityServerConfiguration" providerName="System.Data.SqlClient" connectionString="Server=.;Database=IdentityServer;Trusted_Connection=true;" />-->
    <add name="PulseCheck.Membership" connectionString="server=.;database=PulseCheck.Membership;trusted_connection=yes;" providerName="System.Data.SqlClient" />
    <add name="IbexContext" providerName="System.Data.SqlClient" connectionString="Server=.;Database=ibex;User Id=PulseCheck;Password=Picis123;" />
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="owin:appStartup" value="Host.Web.Mvc.Startup" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

</configuration>