<header>
    <div class="logo">
    </div>
    <h2>{{ title }}</h2>
    <div class="header-user">
        <a class="action notification" onclick="openInvision()" title="Notifications"></a>
        <a class="action help" title="Help"></a>
        <a class="action user" (click)="onLogout()" title="Logout">
            <span class="user-name" *ngIf="!user.displayInitials">
              {{ user.firstName }} <br/>{{ user.lastName }}
            </span>
            <span class="user-name" *ngIf="user.displayInitials">
              {{ user.initials }}
            </span>
        </a>
    </div>
</header>
