/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";

html {
  position: relative;
  min-height: 100%;
  font-size: $font-size-root;
}

body {
  background: url("/assets/img/background_2.svg");
  background-color: $e-body-background-color !important;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", "Roboto", sans-serif !important;
  font-weight: 300 !important;
  text-rendering: geometricPrecision;
}

.my-popover.popover {
  max-width: 80% !important;
  max-height: 80% !important;
  overflow: visible;
}

.my-popover.popover .arrow {
  display: none;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  height: 1rem; //2px;
  width: 1rem; //2px;
  border: 2px solid #d5d5d5;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.7);
  overflow: auto;
  border: 5px solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
  transition: height 0.2s ease-in-out;
  padding: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  background-clip: initial;
}


/* Allergy/Medication */
.allergy-dot {
  /*height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  background-color: orange;
  margin:  0 0.5em 0 0;*/
  //box-shadow: 0 10px 18px 0 rgba(255, 165, 0, 0.54);

  background: $allergyReaction;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 0 2px $allergyReaction;
  margin: 0 0.5em 0 0.2em;
  color: black;
  text-align: center;
  line-height: 12px;
  font-size: 9px;
  font-weight: bold;

  &:hover {
    background: $allergyReactionMinor;
    box-shadow: 0 3px 12px 0 rgba(255, 165, 0, 0.54);
    font-size: 8px;
  }
}

.drug-dot {
  /*height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  background-color: orangered;
  margin:  0 0.5em 0 0;*/
  //box-shadow: 0 10px 18px 0 rgba(255, 69, 0, 0.54);
  
  background: $drugInteraction;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 0 2px $drugInteraction;
  margin: 0 0.5em 0 0.2em;
  color: white;
  text-align: center;
  line-height: 12px;
  font-size: 9px;
  font-weight: bold;

  &:hover {
    background: $drugInteractionMinor;
    box-shadow: 0 3px 12px 0 rgba(255, 165, 0, 0.54);
    font-size: 8px;
  }
}

.unresolved.allergy-dot {
  background: #fbfbfb;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  box-shadow: 0 0 0 2px $allergyReaction;
  margin: 0 0.5em 0 0.2em;
}

.unresolved.drug-dot {
  background: #fbfbfb;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  box-shadow: 0 0 0 2px $drugInteraction;
  margin: 0 0.5em 0 0.2em;
  color: black;
}

.placeholder-dot {
  // background: #fbfbfb;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: relative;
  display: inline-block;
  // box-shadow: 0 0 0 2px #fbfbfb;
  margin: 0 0.5em 0 0.2em;
  line-height: 12px;
  font-size: 9px;
}

.allergy-loader {
  width: 15px;
  height: 15px;
  border: 2px solid $allergyReaction;
  border-radius: 50%;
  margin: 0 0.2em 0 0;
  animation: rotate 1s infinite linear;
}

.allergy-loader::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background: #fbfbfb;
  border-radius: 50%;
  margin: -30% 0 0 -30%;
}

.drug-loader {
  width: 15px;
  height: 15px;
  border: 2px solid $drugInteraction;
  border-radius: 50%;
  margin: 0 0.2em 0 0;
  animation: rotate 1s infinite linear;
}

.drug-loader::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background: #fbfbfb;
  border-radius: 50%;
  margin: -30% 0 0 -30%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Buttons */

.button-primary {
  display: inline-block;
  height: 3.3rem;
  letter-spacing: 0.4px;
  // font-size: 16px;
  font-size: 1.2rem;
  color: #333;
  background: transparent;
  border-radius: 0.3rem;
  padding: 0 15px;
  line-height: 3.3rem;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;

  &:hover {
      text-decoration: none;
  }

  &.button-raised:hover {
  }

  &.button-raised {
      color: #fff !important;
      // background: #F31C38;
      background: $primary-button;
      box-shadow: 0 10px 18px 0 rgba(243, 28, 56, 0.54);
      transition: all 300ms;
      border: none;
  }

  &.button-raised:hover {
      background: $primary-button-hover; // #f3374f;
      box-shadow: 0 3px 12px 0 rgba(243, 28, 56, 0.54);
  }
}

.button-secondary {
  display: inline-block;
  height: 3.3rem;
  letter-spacing: 0.4px;
  font-size: 1.2rem;
  color: #333;
  background: transparent;
  border-radius: 0.3rem;
  padding: 0 15px;
  line-height: 3.3rem;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;

  &:hover {
      text-decoration: none;
  }

  &.button-raised:hover {
  }

  &.button-raised {
      color: #fff !important;
      // background: $e-secondary-button-color; // #f08080;
      background: $secondary-button;
      box-shadow: 0 10px 18px 0 rgba(243, 28, 56, 0.54);
      transition: all 300ms;
      border: none;
  }

  &.button-raised:hover {
      background: $secondary-button-hover;// #f08080;
      box-shadow: 0 3px 12px 0 rgba(243, 28, 56, 0.54);
  }
}

.button-disabled {
  cursor: not-allowed;
}

.button-primary.button-processing {
  //background-color: var(--color-contrast-low);
  //border-color: var(--color-contrast-medium);
  color: transparent !important;
  position: relative;
}

.button-processing::before {
  border: 2px solid #999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  border-left-color: #000;
  border-radius: 100%;
  animation: spin 0.65s infinite linear;
  content: '';
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ng-bootstrap overwrite*/

@import "~bootstrap/scss/bootstrap";

.pagination {
  @extend .d-flex, .flex-wrap, .justify-content-center
}


/* Tree Structure */
.tree,
.tree ul {
    margin: 0 0 0 1em; /* indentation */
    padding: 0;
    list-style: none;
    color: $blue-D-20;
    position: relative;
}

.tree ul {
    margin-left: .5em /* (indentation/2) */
}

.tree:before,
.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
}

.tree li {
    margin: 0;
    padding: 0 1.5em; /* indentation + .5em */
    line-height: 2em; /* default list item's `line-height` */
    font-weight: bold;
    position: relative;
}

.tree li:before {
    content: "";
    display: block;
    width: 10px; /* same with indentation */
    height: 0;
    border-top: 1px solid;
    margin-top: -1px; /* border top width */
    position: absolute;
    top: 1em; /* (line-height/2) */
    left: 0;
}

.tree li:last-child:before {
    background-color: #fff; /* same with body background */
    height: auto;
    top: 1em; /* (line-height/2) */
    bottom: 0;
}

/* Tree Structure End*/

.bigger-bolder-blue {
  font-weight: bold;
  font-size: 1.2rem;
  color: $e-blue-yonder;
}
.bigger-bolder {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Order Status */
.order-status-pending {
  color: $e-status-pending;
}
.order-status-ongoing {
  color: $e-status-ongoing;
}
.order-status-acknowledged {
  color: $e-status-acknowledged;
}
.order-status-given, .order-status-completed {
  color: $e-status-given;
}
.order-status-due, .order-status-missed {
  color: $e-status-due;
}
.order-status-held, .order-status-onhold {
  color: $e-status-held;
}
::ng-deep .pd-given .tooltip-inner {
  background-color: $e-status-given;
}
::ng-deep .pd-given .arrow::before {
  border-top-color: $e-status-given;
}
::ng-deep .pd-due .tooltip-inner {
  background-color: $e-status-due;
  white-space: nowrap;
}
::ng-deep .pd-due .arrow::before {
  border-top-color: $e-status-due;
}
::ng-deep .pd-pending .tooltip-inner {
  background-color: $e-status-scheduled;
}
::ng-deep .pd-pending .arrow::before {
  border-top-color: $e-status-scheduled;
}
::ng-deep .pd-acknowledged .tooltip-inner {
  background-color: $e-status-acknowledged;
}
::ng-deep .pd-acknowledged .arrow::before {
  border-top-color: $e-status-acknowledged;
}
::ng-deep .pd-held .tooltip-inner {
  background-color: $e-status-held;
}
::ng-deep .pd-held .arrow::before {
  border-top-color: $e-status-held;
}
/* Order Status End */

/* combo med icon */
.combo-med-popover {
  cursor: pointer;
  border: 1px solid #dee2e6;
  color: $blue-D-10;
  background-color: #fff;
  font-weight: 600;
  text-align: center;
  height: 1.5rem;
  line-height: 1rem;
  display: inline-block;
  padding: 0 2px;
}
.combo-med-popover:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
  }
.combo-med-popover:active {
  color: #fff;
  background-color: $blue-D-10;
  border-color: $blue-D-10;
}
/* end combo med icon */

.freetext {
  background-color: #f3b9b9;
}


/* Tip popover */
.tip .popover-header {
  font-weight: 600;
  background-color: #cdebf9;
}

.tip .popover-body {
  background-color: aliceblue;
  color: #005378;
}

.tip .arrow::after {
  border-top-color: aliceblue;
}