/*
page-content-header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.page-content.patient-details {
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    align-items: center;
}

.second {
    display: flex;
    align-items: center;
    float: right;
}

.patient-bed_main {
    display: inline-block;
    height: 26px;
    line-height: 23px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    border-radius: 4px;
    padding: 0 5px;
    border: solid #EA1930 2px;
    margin: 0 10px;
}

.male {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../../../assets/icon/male.svg') no-repeat center center;
}

.female {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../../../assets/icon/female.svg') no-repeat center center;
}

.go-back {
    width: 18px;
    height: 18px;
    background: url('../../../assets/icon/back.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 10px;
}
*/