<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="IbexSQlConnection" connectionString="Data Source=ros-57c-dx01.picis.com;Initial Catalog=ibex;Integrated Security=False;User ID=emarapiloginibex;Password=PCed12!." providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <!-- Neither of these are used right now.  Winston Murdock, 08/29/2022. -->
    <add key="WaitTimeInSeconds" value="10" />
    <add key="WaitTimeInProcessNotCompleteInSeconds" value="30" />
  </appSettings>
</configuration>