<header>
    <div class="logo">
    </div>
    <h2>{{ title }}</h2>
    <div class="header-user">
        <a class="action notification" onclick="openInvision()" title="Notifications"></a>
        <a class="action help" title="Help"></a>
        <div ngbDropdown class="action user" title="User Settings">
          <div id="dropdownUser" ngbDropdownToggle>
            <div class="user-name" *ngIf="!user.displayInitials">
              {{ user.firstName }}<br/>{{ user.lastName }}
            </div>
            <div class="user-name" *ngIf="user.displayInitials">
              {{ user.initials }}
            </div>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownUser">
            <button ngbDropdownItem>Logout</button>
          </div>
        </div>
    </div>
</header>
