<div class="d-flex flex-nowrap">
    <div class="p-2 pd-order-summary-column">
        <div *ngFor="let order of orders">
            <span 
                class="pd-medication" 
                (click)="launchPatientAdministrations(patientId)">
                {{ order.medication.displayName }} {{ order.dose }} {{ order.doseUnit?.unitName }}
            </span>

            <div [ngStyle]="{'margin-bottom': '2.7rem'}">
                <div>
                    {{ order.medicationRoute?.routeName }} - {{order.frequencySchedule?.scheduleName }}
                    {{ order.duration ? ' for ' +  order.duration + ' ' + order.durationUnit?.name : '' }}
                </div>

                <div>
                    {{ order.orderNotes }}
                </div>
                <span class="{{ getOrderStatus(order, 'textClass') }}">
                    <b>{{ getOrderStatus(order, 'text') }}</b>
                </span>
            </div>
        </div>
    </div>
    <div class="p-2 pd-actions-column">
        <!-- <div *ngFor="let order of orders" id="administrations{{order.id}}">
            <div *ngFor="let admin of order.orderAdministrations">
                {{admin.administrationScheduledDatetime | date: "MM/dd/yy": siteUTCOffset}} 
                {{admin.administrationScheduledDatetime | date: "HH:mm": siteUTCOffset}}
                {{admin.administrationStatus}}
            </div>
        </div> -->
    </div>

    <div class="p-2 -p-relative">
        <span class="btn-close" (click)="close()" [ngStyle]="{'cursor': 'pointer'}" title="Close">
            &#9747;
        </span>
    </div>
</div>
