<div class="dialog-createOrder">
    <div class="form">
        <!-- <form id="createOrderForm" [formGroup]="composerMedForm"> -->
        <form id="createOrderForm">
            <div class="form-group">
                <div class="partialDiv">
                    <div class="form-part">
                        <div class="form-column">
                            <med-form [medOptions]="options" [medComponentId]="composerMedFormIndex">
                            </med-form>
                            <detail-form [medComponentId]="composerMedFormIndex"></detail-form>
                        </div>
                        <div class="form-column">
                            <frequency-form [medComponentId]="composerMedFormIndex"
                                [preferredFrequencies]="options.availableFormStrength[selectedFormStrength].preferredFrequencies">
                            </frequency-form>
                            <calendar-form [composerMedForm]="composerMedForm"></calendar-form>
                            <date-time-modal></date-time-modal>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="dialog-footer">
        </div>
        <!-- <div><small><i>{{ composerMedForm.value | json }}</i></small></div> -->
    </div>
</div>