<div class="dialog-createOrder">
    <div class="form">
       <form id="createOrderForm" [formGroup]="composerMedForm">
            <div class="form-group">
                <div class="partialDiv">
                    <div class="dialog-title">
                        <span>New Order: </span>
                            {{getMed().name}}
                    </div>
                    <div class="form-part">
                        <div class="form-column">
                            <span class="subheader">
                                <span>New Orders</span>
                            </span>
                            <span class="item">
                                {{getMed().name}}
                            </span>
                            <span class="subheader">
                                <span>Administration Instructions</span>
                            </span>
                            <span class="item">
                                <textarea class="form-control" formControlName="orderNotes"></textarea>
                            </span>

                            <detail-form (formReady)="formInitialized('detail', $event)"></detail-form>
                        </div>
                        <div class="form-column">
                            <span class="subheader">
                                <span>Frequency</span>
                            </span>
                            <span class="item">
                                
                            </span>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
        <div class="dialog-footer">
            <button class="secondary-button button-raised" title="Add to Quick List">&#10025;</button>&nbsp;
            <button class="secondary-button button-raised" title="Continue">Continue</button>&nbsp;
            <button 
                disabled="!composerMedForm.valid"
                class="primary-button button-raised" 
                title={{getActionText()}}
                (click)="processCartOrder()">
                {{getActionText()}}
            </button>
        </div>
        <div>{{ composerMedForm.valid? 'Valid': 'Invalid' }} {{ composerMedForm.value | json }}</div>
    </div>
</div>