* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
}

/* Utilities */

.horizontal-icon-list {
  list-style-type: none;
}

.horizontal-icon-list li {
  display: inline;
  margin: 3px;
}

.horizontal-icon-list li img {
  height: 20px;
  width: 20px;
}

/* Table */

table {
  border: 1;
  width: 100%;
}

thead tr {
  text-align: center;
}

th {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

td {
  padding: 3px;
  margin: 3px;
}

.indicator-low {
  font-weight: bold;
  color: #0000ff;
}

.indicator-normal {
  color: #000;
}

.indicator-high {
  font-weight: bold;
  color: #ff0000;
}

.btn-expand {
  border: 2px solid #ff0800;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0 5px;
  margin: 3px;
}

.page-content-wrapper {
  display: flex;
  font-size: 0.9rem;
}

/*  Navigation Container */

.nav-header {
  padding: 4px 0 0 5px;
  margin: 5px 0 0 10px;
  align-self: center;
}

.go-back {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../../../assets/icon/back.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*  Overall Patient Container */

.patient-container {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  flex: 1;
}

/*  Patient Data Container #3 */

.patient-data-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0 5px;
}

/*  Patient Location Container */

.patient-data-location {
  /* flex: 1; */
  padding: 0;
}

.patient-location {
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
  border-radius: 4px;
  border: solid 2px;
  padding: 0 5px;
  margin: 0 5px 0 0;
  text-align: center;
}

/*  Basic Patient Data Container */

.patient-data-basic {
  padding: 0 5px 5px 0;
  margin: 0 5px 5px 0;
  /* flex: 1; */
  /* font-size: var(--secondary-font-size); */
}

.patient-name {
  font-size: 1.4rem;
}

.action-icons {
  cursor: pointer;
}

.action-button {
  height: 20px;
  width: 20px;
  text-align: center;
  background-color: #f4f4f4f4;
  color: gray;
  font-size: 1rem;
  font-weight: bold;
}

/* Alert and Custom Indicators Container */

.patient-indicators {
  display: table;
  padding: 0 5px 5px 5px;
  margin: 0 5px 5px 0;
  flex: 1;
}

.standard-indicators {
  padding: 0 5px 5px 5px;
}

.custom-indicators {
  padding: 5px;
}

/* Patient Image */

.patient-image {
  float: right;
  padding: 0 5px 5px 5px;
  margin: 0 5px 5px 0;
}

.patient-image img {
  width: 60px;
  height: 60px;
}

/* Patient Demographic/Identifiers Container */

.patient-demo-ids {
  padding: 0 5px 5px 5px;
  margin: 0 5px 5px 5px;
  /* flex: 1; */
  text-align: right;
}

.patient-data-demographics {
  display: inline-block;
  text-align: right;
}

.demographics-header {
  font-size: 1rem;
}

.gender {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
}

.gender.gender-male {
  background: url("../../../assets/icon/male.svg") no-repeat center center;
  background-size: 100% auto;
}

.gender.gender-female {
  background: url("../../../assets/icon/female.svg") no-repeat center center;
  background-size: 100% auto;
}

.patient-ids {
  padding: 0 5px;
}
