<div class="page-content-wrapper" *ngIf="patient">
    <!-- <div class="nav-header">
        <a href="/patients" class="go-back"></a>
    </div> -->
    <div class="patient-container">
        <div class="patient-data-container">
            <div class="patient-data-location">
                <span class="patient-location" [ngStyle]="{
                'borderColor': getPatientUrgencyColor()
            }" [innerText]="getPatientLocation()"></span>

            </div>
            <div class="patient-data-basic">
                <div>
                    <span class="patient-name" [innerText]="getPatientFullName()"></span>
                </div>

                <div>
                    <span *ngIf="patient.complaint"><em>Complaint: </em>{{patient.complaint}}</span>
                </div>
                <div>
                    <ul class="horizontal-icon-list">
                        <li>
                            <span placement="bottom-left" ngbTooltip="Click to view Current Vital Signs"
                                container="body">
                                <img *ngIf="checkForData('vitals')" [src]="getVitalSignIconPath()"
                                    class={{vsOverallIndicatorClass}} alt="Vital Signs"
                                    [ngbPopover]="lastVitalSignsTaken" placement="bottom-left" triggers="click"
                                    [autoClose]="'outside'" container="body" [ngClass]="{'action-icons': true}"
                                    popoverClass="my-popover">
                            </span>
                        </li>
                        <li>
                            <span placement="bottom-left" ngbTooltip="Click to view Allergies" container="body">
                                <button type="button" *ngIf="checkForData('allergies')" class="action-button"
                                    placement="bottom-left" triggers="click " [autoClose]="'outside'"
                                    [ngbPopover]="allergies" container="body" popoverClass="my-popover">A</button>
                            </span>
                        </li>
                        <li>
                            <span placement="bottom-left" ngbTooltip="Click to view Home Medications" container="body">
                                <button type="button" *ngIf="checkForData('homeMeds')" class="action-button"
                                    placement="bottom-left" triggers="click" [autoClose]="'outside'"
                                    [ngbPopover]="homeMeds" container="body" popoverClass="my-popover">M</button>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="patient-indicators">
                <div class="standard-indicators" *ngIf="patient.nameAlert || patient.withdrawConsent">
                    <ul class="horizontal-icon-list">
                        <li>
                            <img src="../../../assets/img/alert2[1].gif" *ngIf="patient.nameAlert" alt="Name Alert"
                                placement="bottom" ngbTooltip="Name Conflict Alert">
                        </li>
                        <li>
                            <img src="../../../assets/img/privacy[1].gif" *ngIf="patient.withdrawConsent"
                                alt="Consent Withdrawn" placement="bottom" ngbTooltip="Withdrawn Consent">
                        </li>
                    </ul>
                </div>
                <div class="custom-indicators" *ngIf="patient.patientIndicators">
                    <ul class="horizontal-icon-list">
                        <li *ngFor="let indicator of patient.patientIndicators">
                            <img *ngIf="indicator.imageSrc" [src]="indicator.imageSrc"
                                onerror="this.style.display='none'" alt="{{indicator.description}}" placement="bottom"
                                ngbTooltip="{{indicator.typeDescription}}: {{indicator.description}}">
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="patient.patientImageSrc" class='patient-image'>
                <img [src]="patient.patientImageSrc" onerror="this.style.display='none'" alt="Patient Image">
            </div>
            <div class="patient-demo-ids">
                <div class="patient-data-demographics">
                    <div class="demographics-header">
                        <span *ngIf="patient.age && patient.ageUnits">
                            <!-- {{patient.age | Age: patient.age:patient.ageUnits}} -->
                            {{patient.age}} {{patient.ageUnits}}
                        </span>
                        <span
                            *ngIf="patient.birthDate || patient.dateOfBirth">({{patient.birthDate || patient.dateOfBirth | date: 'MM/dd/yyyy' }})</span>

                        <span [class]="getPatientGenderIconStyle()" *ngIf="patient.gender"
                            ngbTooltip="{{patientGenderText}}" placement="bottom-right">{{patientGenderLetter}}</span>
                    </div>
                    <div [ngStyle]="{'padding-right': '5px'}">
                        <span *ngIf="patient.heightInCm">{{patient.heightInCm}} cm </span>
                        <span *ngIf="patient.weightInKg" [innerText]="appendDisplayValue('weight')"></span>
                    </div>
                </div>
                <div class="patient-ids">
                    <span *ngIf=" patient.medicalRecordNumber" placement="bottom"
                        ngbTooltip="Medical Record Number">{{patient.medicalRecordNumber}}</span>
                    <span *ngIf="patient.accountNumber" [innerText]="appendDisplayValue('accountNumber')"
                        placement="bottom" ngbTooltip="Account Number"></span>
                    <span *ngIf="patient.personNumber" [innerText]="appendDisplayValue('personNumber')"
                        placement="bottom" ngbTooltip="Person Number"></span>
                    <span *ngIf="patient.customNumber" [innerText]="appendDisplayValue('customNumber')"
                        placement="bottom" ngbTooltip="Custom Number"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #lastVitalSignsTaken>
    <simple-table [tableStructure]="vitalsTableStructure"></simple-table>
</ng-template>

<ng-template #allergies>
    <simple-table [tableStructure]="allergiesTableStructure"></simple-table>
</ng-template>

<ng-template #homeMeds>
    <simple-table [tableStructure]="homeMedsTableStructure"></simple-table>
</ng-template>