<div class="page-content patient-details" [ngStyle]="{'overflow':'hidden', 'overflow-y':'hidden'}">
    <div>
        <!-- <header-patient [patient]="selectedPatient()"></header-patient> -->
        <header-patient [patient]="patientStoreService.patient$ | async"></header-patient>
    </div>
    <!--
        * Need the 'position': relative so that the modal container will only encompass
          the 'orders' part of the screen.  It goes to the nearest positioned ancestor.
        * Need the 'overflow-vertical-off/on' because the page needs to allow scrollbars
          if the modal is not open.  If it is open, then they need to be disabled so that the
          user cannot scroll behind the modal container.
     -->
    <div *ngIf="performModalActions('medComposer', 'orders-container')" id="orders-container"
        [ngStyle]="{'position': 'relative'}"
        [ngClass]="{'overflow-vertical-off': isModalVisible('medComposer'), 'overflow-vertical-on': true}">
        <div class="page-content-wrapper">
            <composer-med-modal></composer-med-modal>
            <div class="orders">
                <div class="orders-new">
                    <!-- <h3>NEW ORDERS <span class="count">{{cartStoreService.totalCount$ | async}}</span></h3> -->
                    <h3>NEW ORDERS
                        <span [ngClass]="{'count': (cartStoreService.totalCount$ | async)}">
                            {{(cartStoreService.totalCount$ | async) ? (cartStoreService.totalCount$ | async) : ''}}
                        </span>
                    </h3>
                    <span class="no-data" style="display:none">No New Orders</span>
                    <div>
                        <med-search></med-search>
                    </div>
                    <div id="orders-cart">
                        <order-cart-list [patientId]="patientId"></order-cart-list>
                        <!--[items]="cartListOrders()" -->
                    </div>
                </div>
                <div class="orders-current">
                    <h3>CURRENT ORDERS
                        <!-- <span [ngClass]="{'count': (cartStoreService.totalCount$ | async)}">
                            {{(cartStoreService.totalCount$ | async) ? (cartStoreService.totalCount$ | async) : ''}}
                        </span> -->
                    </h3>
                    <div class="orders-current-wrapper">
                        <ul class="list-group">
                            <!-- <li class="list-group-item" *ngFor="let ord of currentOrders"> -->
                            <li class="list-group-item"
                                *ngFor="let ord of patientMedOrderStoreService.patientMedOrder$ | async">
                                <span
                                    [ngClass]="{'allergy-dot': ord.allergies?.length, 'placeholder-dot': ord.allergies?.length === 0 || !ord.allergies}"
                                    placement="right" ngbTooltip="Allergy Reaction placeholder"></span>
                                <span
                                    [ngClass]="{'drug-dot' : ord.drugs?.length, 'placeholder-dot': ord.drugs?.length === 0 || !ord.drugs}"
                                    placement="right" ngbTooltip="Medication Interaction placeholder"></span>
                                <span class="status">{{ord.orderStatus}}</span>
                                <span>
                                    {{ord.brandName}} {{ord.medicationRoute?.routeName | uppercase}} {{ord.dose}}
                                    {{ord.doseUnit?.unitName}} {{ord.frequencySchedule?.scheduleName}}
                                    <!-- {{ord.displayName}} {{ord.displayRoute | uppercase}} {{ord.displayDose}} {{ord.displayDoseUnit}} {{ord.displayFrequency}} -->
                                </span>
                                <span class="details">{{ord.addTime}} <span class="minor">on</span>
                                    {{ord.addDate | date: "MM/dd/yy"}}, <span class="minor">Ordering physician:</span>
                                    {{ord.orderingPhysicianUser?.displayName}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="lists">
                <div class="toggle">
                    <span [ngClass]="{'active': qlSelected}" (click)="onSelectTab('list-quick-orders')">Quick
                        List</span>
                    <span [ngClass]="{'active': dpSelected, 'inValid': !hasDeptPreferredDefined}"
                        (click)="onSelectTab('list-dept-preferred-orders')">Dept Preferred List</span>
                    <span [ngClass]="{'active': gSelected}" (click)="onSelectTab('list-groups-orders')">Groups</span>
                </div>

                <div class="lists-wrapper">
                    <div id="list-quick-orders" [ngClass]="{'hidden': !qlSelected}">
                        <quick-list></quick-list>
                    </div>
                    <div id="list-dept-preferred-orders" [ngClass]="{'hidden': !dpSelected}">
                        <dept-preferred (isTabValid)="isTabValidHandler($event)"></dept-preferred>
                    </div>
                    <div id="list-groups-orders" [ngClass]="{'hidden': !gSelected}">
                        <groups></groups>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<app-modal [title]="modalTitle">
    <order-form></order-form>
</app-modal>
-->

<!-- <composer-med-modal></composer-med-modal> -->
<interaction-modal></interaction-modal>
<app-delete-all-cart-orders-modal></app-delete-all-cart-orders-modal>